.App {
  text-align: center;
  background-color: #ffffff;
  height: 80vh;
}

.GridWrap {
  padding-top: 20px;
}

.GridComp{
  height: 80vh;
}

.MuiDialog-paper {
  height: 600px;
  width: 800px;
  max-width: 900px !important;
}

.MuiTab-root {
  padding: 20px !important;
}

.MuiDialogActions-root{
  justify-content: center !important;
  -webkit-justify-content: center !important;
}

.scatterSVG{
  position: relative;
  bottom: 60px;
}